.footer {


  background: #04172e	;
  text-align: center;
  
  color: white;
}

.footerlogo img {
  width: 40px;
  margin: 20px 0 10px  0 ;

}

.footerlogo h5 {
  font-weight: 600;
  font-size: 1rem;

  color: #075e1a;
}

.footerlogo p {
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 28px;
  margin: 20px;
}





@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }
  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
}
