.product-item {
  border: 1px solid #fde4e4;
  text-align: center;
  padding: 30px;
  height: 100%;
  
}

.product-img {
  margin-bottom: 20px;
  transition: 0.4s;
}



.product-content h5 a {
  color: #212245;
  font-size: 1rem;
}

.product-content p {
  font-weight: 500;
  color:rgba(65, 65, 65, 0.979)
  
}

.product-content h5 {
  margin-bottom: 20px;
}

.product-price {
  font-weight: 600;
  font-size: 1rem;
  color: #df2020;
  margin: 15px;
}
.heart {
position: relative;
left: 100px;
border: none;
background: transparent;
&:hover {
  color: red;
  transition: ease all .2s;
}
  
}
.addTOCart-btn {
  border: none;
  padding: 8px;
  background: #df2020;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
  &:hover {
    opacity: 0.8;
    transition: ease all .2s;

    .product-img:hover {
      transform: scale(1.1);
      
    }
  }
  
}

@media only screen and (max-width: 992px) {
  .product-content h5 a {
    font-size: 0.8rem;
  }
  .product-item {
    padding: 20px;
  }
 
}
